web-scrape-n8n-workflow.json
{
  "name": "web-scrape",
  "nodes": [
    {
      "parameters": {
        "path": "8606c214-29e4-4dc8-a7ed-6aac1b6f1371",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        16
      ],
      "id": "67218ad9-ed6e-4706-88a7-4514c75cf034",
      "name": "Webhook",
      "webhookId": "8606c214-29e4-4dc8-a7ed-6aac1b6f1371"
    },
    {
      "parameters": {
        "bucketName": "jobs-result-semi-refined",
        "fileKey": "=jobs-result-{{ $json.formattedDate }}.json"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        0,
        16
      ],
      "id": "037e79b7-72f3-4ccd-9bb0-077046621032",
      "name": "Download a file",
      "credentials": {
        "s3": {
          "id": "V1GEnkK8KiVcjDsW",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {
          "encoding": "utf8"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        176,
        16
      ],
      "id": "baa7ace1-5b89-4b49-8660-49e30c068136",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=S U M M A R Y\nMohamad Akmal Ramadhanta is a skilled professional transitioning into data engineering. His background as\na mobile app developer has provided a strong IT foundation, enabling rapid adaptation to data engineering\nroles. With hands on expertise in data modeling, query optimization, ETL processes, and workflow\norchestration, Akmal is renowned for his problem solving skills and quick learning ability. He is committed to\nharnessing data for scalable, business focused solutions and a perpetual curiosity for learning new\ntechnologies.\nE X P E R I E N C E\nPurwadhika Digital School – Data Engineer Bootcamp\nJuly 2025 – Present\n• Build an ETL and ELT pipelines using Python and Apache Airflow to process and transform large\ndatasets.\n• Gained hands-on experience with cloud-based data warehousing ( Google BigQuery).\n• Learn how to utilize Spark clusterization to process big data\n• Design a data warehouse using dbt.\n• Learn about kimball data modeling and data governance\nSree International Indonesia – Mobile Application Development\nMarch 2024 – June 2025 (1 Year, 4 Months)\n• Collaborated with cross-functional teams to define, design, and ship new features\n• Revamped existing mobile applications for better user experience and higher retention rates\n• Implement and integrate third-party API for tracking shipment and tracking document feature\n• Wrote clear, clean code for Tradeasia apps projects and authored code fixes and enhancements for\ninclusion in future code releases and patches\n• Assisted in publishing the Tradeasia Mobile Apps to PlayStore\nSree International Indonesia – Mobile Application Development Intern\nSeptember 2023 – February 2024 (6 Months)\n• Partnered with team members to learn best practices in software design\n• Analyzed source code to identify functionality issues\n• Documented software development methodologies in technical manuals to be used by other mobile\ndeveloper in future projects.\n• Refactor code architecture into using clean architecture\n• Slicing figma UI designs into code implementation\nCODE.ID – Fullstack Node.js + Flutter Bootcamp\n\nFebruary 2023 – May 2023 (3 Months)\n• Made a RESTFul Backend with Node.js (Express.js)\n• Made an attractive Frontend Web including CRUD functional using React & Bootstrap\n• Made a beautiful and responsive android app using Flutter & Riverpod\nMachine Learning Developer – Digitalent Kominfo: Fresh Graduate Academy\nOctober 2022 – December 2022 (3 Months)\n• Learn the basics of data visualization\n• Getting started programming in python\n• Gained foundational knowledge of machine learning algorithms and data processing with Python.\nUG FoodHub – Mobile Flutter Developer (Freelance)\nApril 2022 – September 2022 (6 Months)\n• Implement an MVVM pattern architecture using Provider State Management\n• Implement an API fetching using JSONBin.io for dummy data\n• Slicing figma UI designs given by UIF Team into code implementation\n• Weekly sprint meeting with UIF Team for progress report\nE D U C A T I O N\nGunadarma University, Depok\nInformatics (Computer Science) / 3.55 out of 4.00\n2018 – 2022\n\nT E C H N I C A L S K I L L S\n• Programming Languages: Python, SQL, Dart, Javascript\n• RDBMS: PostgreSQL, MySQL, SQLite, Firebase\n• Data Warehouse: Google BigQuery\n• Orchestration: Apache Airflow\n• Data Transformation: Pandas, Apache Spark, dbt\n• Cloud Platforms: Google Cloud Platform\n• Version Control: Git, GitHub\n• Others: Postman, DBeaver, Flutter, Node.JS, Shell Script\n\npick top 3 of the jobs inside the json file ({{ $json.data }}) that are the closest match criteria for me based on my cv above, and give the url, make sure you limit your response to be under 1024 characters",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        576,
        16
      ],
      "id": "2e12c8cd-690d-42fb-93b3-edac1a13cd02",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "okelah"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1088,
        304
      ],
      "id": "903d1615-627c-41e3-8981-051f80513bd3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cdcbce0d-97aa-4a1e-9659-42715f981bca",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        16
      ],
      "id": "54fe97ed-9755-42e5-b240-74b4bfca25a1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        576,
        224
      ],
      "id": "8b69a8e5-c2fc-4400-99d0-e1590f8ded3d",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "YT6n0jsRlgZlODg5",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        896,
        16
      ],
      "id": "bc6176f8-0aed-47fd-8213-c53f317d72c0",
      "name": "Discord",
      "webhookId": "a2972a65-81e0-43bc-b68d-1d17ecf6e1d1",
      "credentials": {
        "discordWebhookApi": {
          "id": "CXotZ5nGMq6kQeKU",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $today }}",
        "format": "yyyy-MM-dd",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -176,
        16
      ],
      "id": "707f7e7c-821c-4909-a4ae-9129b2116c90",
      "name": "Date & Time"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8180e3e6-8f2d-4457-86e9-21f64fd1aaf4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47ade5423a412ebbe99ad9c967e18024b9de955cc89655d8354f57dae187236e"
  },
  "id": "b4rFPqKFsgaoHfCX",
  "tags": []
}